{% extends './_base.html' %}
{% load static %}

{% block page_title %}Edit Minute {{ minuite.title }}{% endblock page_title %}

{% block content %}
<div class="max-w-4xl mx-auto py-8">
    <h2 class="text-3xl font-bold mb-6 text-center">Edit Minute</h2>

    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <form method="post" action="">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="title" class="block text-sm font-medium">Title</label>
                    <input type="text" name="title" id="title"
                        class="w-full border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-300 px-4 py-2"
                        value="{{ minuite.title }}" required>
                </div>
                <div>
                    <label for="date" class="block text-sm font-medium">Date</label>
                    <input type="date" name="date" id="date"
                        class="w-full border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-300 px-4 py-2"
                        value="{{ minuite.date|date:'Y-m-d' }}">
                </div>
                <div class="col-span-2">
                    <label for="minuite" class="block text-sm font-medium">Minuite</label>
                    {% if minuite.minuites %}
                    <p class="mt-1 text-sm text-gray-600">
                        Current File:
                        <a href="{{ minuite.minuites.url }}" class="text-blue-600 underline" target="_blank">
                            {{ minuite.minuites.name|slice:"10:" }}
                        </a>
                    </p>
                    {% endif %}
                    <input type="file" name="minuites" id="minuite"
                        class="w-full border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-300 px-4 py-2">
                </div>

            </div>

            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700 transition">Update
                Minuite</button>
        </form>
    </div>

</div>
{% endblock %}